/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.settings
/.buildpath
/.gitignore
/.travis.yml
/LICENSE
/README.md
/test.txt
/test2.txt
/UPGRADE.md
/UPGRADE-2.2.md
/UPGRADE-2.3.md
