body, html, h1, h2, h3, h4, h5, h6, p, a, ul, li {margin: 0; padding: 0;}

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
}

@font-face {
    font-family: 'OratorStd';
    src: url('/bundles/renelemswebsite/font/oratorstd.eot');
    src: url('/bundles/renelemswebsite/font/oratorstd.eot') format('embedded-opentype'),
         url('/bundles/renelemswebsite/font/oratorstd.woff') format('woff'),
         url('/bundles/renelemswebsite/font/oratorstd.ttf') format('truetype'),
         url('/bundles/renelemswebsite/font/oratorstd.svg#OratorStdMedium') format('svg');
}

h1 {
	font-family: 'OratorStd';
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 32px;
}

h2 {
	font-family: 'OratorStd';
	font-weight: normal;
	text-transform: uppercase;
	color: #353230;
	font-size: 28px;
	margin: 10px 0px;
}

h3 {
	font-family: 'OratorStd';
	font-weight: normal;
	text-transform: uppercase;
	color: #353230;
	font-size: 25px;
	margin: 0px;
}

a {
	color: #3DA1C0;
	cursor: pointer;
}

a:hover {
	color: #353230;
}


/* STANDARD */
.text_center {
	text-align: center;
}

.fa-check {
	font-size: 18px;
	color: #00A200;
}
.fa-times {
	font-size: 18px;
	color: #EB0000;
}

.clear {
	clear: both;
}


/* NOTICES */
.flash_notice {
	height: 30px;
	color: #00A200;
	font-weight: bold;
	font-size: 16px;
}

.flash_error {
	height: 30px;
	color: #EB0000;
	font-weight: bold;
	font-size: 16px;
}

/* LOGIN */
#login {
	width: 350px;
	margin: auto;
	margin-top: 50px;
	background-color: #e0e0e0;
}

#login form {
	position: relative;
	padding-bottom: 40px;
}

#login button[type="submit"] {
	right: 13px;
	position: absolute;
}

#login h1 {
	background-color: #353230;
	padding-left: 10px;
}

/* TOPBAR/MENU */
#topBar {
	background-color: #3DA1C0;
	padding: 20px;
	height: 30px;
}

#topBar h1 {
	float: left;
}

#topBar ul li,
#menu ul li {
	list-style-type: none;
}

#topBar ul li a {
	color: #FFFFFF;
}

#topBar ul li a:hover {
	color: #353230;
}

#topBar .logout {
	float:right;
}

#menu {
	width: 100%;
	height: 30px;
	background-color: #e0e0e0;
}

#menu ul {
	margin-left: 50px;
}

#menu ul li {
	float:left;
	padding: 6px 0px;
	border-left: 1px solid #bfbebe;
}

#menu ul li.end {
	border-right: 1px solid #bfbebe;
}

#menu ul li a {
	color: #353230;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	padding: 6px 20px;
	letter-spacing: 3px;
}

#menu ul li a:hover {
	background-color: #bfbebe;
	color: #FFFFFF;
}

#content_wrapper {
	padding: 30px;
}


/* TABLES */
table.chart {
	margin-bottom: 10px;
}

table tr.odd {
	background-color: #EBEBEB;
}

table tr td,
table tr th {
	padding: 7px 10px;
	font-weight: normal;
	text-align: left;
}

table tr td.last {
	padding: 3px 0px;
}

table tr.head {
	background-color: #353230;
	color: #FFFFFF;
	font-size: 15px;
}

#edit_form table,
#new_form table {
	border-spacing: 5px;
}

#edit_form table tr td,
#new_form table tr td {
	padding: 0px 10px;
	height: 35px;
	position: relative;
}

#edit_form table tr td:first-child,
#new_form table tr td:first-child {
	background-color: #EBEBEB;
}


/* FORMS */
input[type="text"],
input[type="password"],
input[type="email"] {
	padding: 4px 8px;
	font-size: 14px;
	border: 1px solid #D1D1D1;
	height: 20px;
	width: 400px
}

textarea {
	padding: 4px 8px;
	font-size: 14px;
	border: 1px solid #D1D1D1;
	width: 400px;
	height: 125px;
}

select {
	height: 30px;
	font-size: 14px;
	border: 1px solid #ECECEC;
	width:100%;
	padding-left: 8px;
}

#login input[type="text"],
#login input[type="password"],
#login input[type="email"] {
	width:200px;
}

/* AUTOCOMPLETE LIST */
#autocomplete_list {
	list-style: none;
}

#autocomplete_list li {
	margin: 10px;
	padding: 6px;
	background-color: #3DA1C0;
	color: #FFFFFF;
	float: left;
}

#autocomplete_list li .delete_temp_tag,
#autocomplete_list li .delete_tag {
	cursor: pointer;
	padding: 2px;
	color: #000000;
}

#autocomplete_list li .delete_temp_tag:hover,
#autocomplete_list li .delete_tag:hover {
	color: #FF0000;
}

#autocomplete_list li .fa-tag {
	margin-right: 5px;
}

/* IMAGE LIST */
.imagesHolder {
	width: 55%;
	min-width: 550px;
}

.images {
}

ul#sortable {
	list-style: none;
}

ul#sortable li {
	float:left;
	cursor: move;
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 150px;
	background-color: #EBEBEB;
	padding: 10px;
}

ul#sortable li:hover {
	background-color: #D5E0DD;
}

ul#sortable li a.removeImage {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 1;
	background-color: #FFF;
	padding: 0px 2px;
	border: 1px solid black;
}

ul#sortable li .removeImage:hover {
	background-color: #FFF;
	padding: 0px 2px;
	border: 1px solid red;
}

/* BUTTONS */
a.btn {
	padding: 6px 10px 7px 0px;
	color: #FFFFFF;
	text-decoration: none;
}

a.btn.add,
button.btn.add {
	background-color: #004B00;
	margin-top: 20px;
}

button.btn.add {
	margin-top: 0;
}

a.btn.add:hover,
button.btn.add:hover {
	background-color: #00A200;
}

a.btn.add .fa,
button.btn.add .fa {
	padding: 8px 10px;
	background-color: #00A200;
	margin-right: 5px;
	color: #004B00;
}

a.btn.edit {
	background-color: #BE9900;
}

a.btn.edit:hover {
	background-color: #EBCE00;
}

a.btn.edit .fa {
	padding: 8px 10px;
	background-color: #EBCE00;
	margin-right: 5px;
	color: #BE9900;
}

a.btn.delete {
	background-color: #AC0F0F;
}

a.btn.delete:hover {
	background-color: #EB0000;
}

a.btn.delete.pull-right {
	padding: 0px 10px 0px 0px;
}

a.btn.delete .fa {
	padding: 8px 10px;
	background-color: #EB0000;
	margin-right: 5px;
	color: #AC0F0F;
}

form button[type="submit"] {
	background-color: #B17A08;
	border: 0px;
	color: #FFFFFF;
	padding: 0px 10px 0px 0px;
	cursor: pointer;
	font-size: 15px;
}

form button[type="submit"]:hover {
	background-color: #FFAD00;
}

form button[type="submit"] .fa {
	color: #B17A08;
	background-color: #FFAD00;
	padding: 8px 10px;
	margin-right: 5px;
}

a.add_tag_button {
	margin-left: -124px;
	display: none;
}

/* LOADER */
#loader {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	display: none;
	position: fixed;
}

#loader img {
	left: 50%;
	position: absolute;
	top: 50%;
	background-color: #fff;
	padding: 10px;
	border-radius: 40px;
}

#autocomplete_loader {
	display:none;
	width: 22px;
	margin-left: -26px;
	margin-top: 4px;
	position: absolute;
}
