{% extends 'RenelemsBackofficeBundle::layout.html.twig' %}

{% block content %}

<h1>Gebruiker aanmaken</h1>

<form action="{{ path('admin_admin_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Aanmaken</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_admin') }}">
            &laquo; Terug naar de lijst
        </a>
    </li>
</ul>

{% endblock %}
