body, html, h1, h2, h3, h4, h5, h6, p, a, ul, li {margin: 0; padding: 0;}

html, body {
	height: 100%;
}

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	background-color: #353230;
	color: #e9e8e8;
}

@font-face {
    font-family: 'OratorStd';
    src: url('/bundles/renelemswebsite/fonts/oratorstd.eot');
    src: url('/bundles/renelemswebsite/fonts/oratorstd.eot') format('embedded-opentype'),
         url('/bundles/renelemswebsite/fonts/oratorstd.woff') format('woff'),
         url('/bundles/renelemswebsite/fonts/oratorstd.ttf') format('truetype'),
         url('/bundles/renelemswebsite/fonts/oratorstd.svg#OratorStdMedium') format('svg');
}

h1.logo {
	font-family: 'OratorStd';
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

h1 {
	font-family: 'OratorStd';
	font-size: 36px;
	font-weight: normal;
}

h1 a {
	color: #FFFFFF;
}

h2 {
	font-family: 'OratorStd';
	font-size: 28px;
	font-weight: normal;
}

h3 {
	font-family: 'OratorStd';
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
}

a,
a:hover {
	text-decoration: none;
}

a.btn,
button.btn {
	background-color: #FFFFFF;
	border: none;
	border-radius: 0;
	margin-top: 30px;
	font-family: 'OratorStd';
	font-size: 18px;
	text-transform: uppercase;
}

a.btn:after {
	content: "\00a0>";
}

a.btn:hover,
button.btn:hover {
	color: #353230;
}

p {
	line-height: 20px;
}



.white_bar {
	background-color: #FFFFFF;
	height: 60px;
	width: 100%;
}

.container {
	width: 800px;
	padding: 0;
}

.underline {
	text-decoration: underline;
}

.green {
	color: #2e8236;
}

.blue {
	color: #2c89a4;
}

.yellow {
	color: #dcb84c;
}

section {
	margin-bottom: 55px;	
}

.row {
	padding-bottom: 30px;
}

.flash-notice {
	margin-bottom: 10px;
}

/* MENU */
#menu ul {
	margin-top: -35px;
}

#menu ul li {
	list-style-type: none;
	font-family: 'OratorStd';
	font-size: 21px;
	text-transform: uppercase;
	margin-left: 1px;
	
}

#menu ul li a {
	color: #FFFFFF;
	padding: 22px 0px 22px 10px;
	display: table-cell;
	width: 195px;
	height: 95px;
	vertical-align: middle;
	background: url('/bundles/renelemswebsite/images/icons/down.png') no-repeat;
	background-size: 10px;
	background-position: 50% 93%;
	
}

#menu ul li a.active {
	background: none;
}

#menu ul li.green_bg {
	background-color: #2e8236;
}

#menu ul li.blue_bg {
	background-color: #2c89a4;
}

#menu ul li.yellow_bg {
	background-color: #dcb84c;
}

#menu ul li a:hover {
	background-color: rgba(255,255,255,0.10);
	
}

#menu ul li a img {
	width: 50px;
	margin-right: 10px;
	opacity:0.55;
	filter:alpha(opacity=55);
}

/* LEFT MENU */
#left-menu {
	position: fixed;
	top: 200px;
}

#left-menu ul li {
	margin-bottom: 5px;
	height: 70px;
}

#left-menu ul li a {
	display: block;
	margin: 0;
	padding: 0;
	width: 70px;
	height: 70px;
	background-color: white;
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

#left-menu ul li a.active {
	width: 75px;
}

#left-menu ul li a img {
	width: 45px;
	margin: auto;
	display: table;
	vertical-align: middle;
}

#left-menu ul li a img.hover {
	display:none;
}

#left-menu ul li a:hover img.hover,
#left-menu ul li a.active img.hover {
	display:table;
	opacity: 0.55;
	filter: alpha(opacity=55);
}

#left-menu ul li a:hover img.non-hover,
#left-menu ul li a.active img.non-hover {
	display:none;
}

#left-menu li a.service.active,
#left-menu li a.service:hover {
	background-color: #2e8236;
}
#left-menu li a.project.active,
#left-menu li a.project:hover {
	background-color: #2c89a4;
}
#left-menu li a.contact.active,
#left-menu li a.contact:hover {
	background-color: #dcb84c;
}

/* BREADCRUMBS */

.breadcrumb {
	background-color: transparent;
	padding: 5px 0px 0px 0px;
	font-size: 12px;
}

.breadcrumb>.active {
	color: #FFFFFF;
}

.breadcrumb>li a {
	color: #C0C0C0;
}

.breadcrumb>li a:hover {
	color: #FFFFFF;
}

.breadcrumb>li+li:before {
	color: #FFFFFF;
}


/* CONTENT */
#content-wrapper {
	margin-top: 145px;
}

/* FORM */
table#renelems_contact {
	width: 100%;
	border-spacing: 0;
}

table tr td {
	padding: 0;
	vertical-align: top;
}

table#renelems_contact tr td:nth-child(2),
table#renelems_contact tr td input,
table#renelems_contact tr td select,
table#renelems_contact tr td textarea {
	width: 100%;
}

input, button, select, textarea {
	border: none;
	outline: none;
}

input, select, textarea {
	padding: 8px 20px;
	margin-top: 2px;
	font-size: 16px;
}

textarea {
	resize:vertical;
}

label {
	width: 200px;
	height: 42px;
	padding: 5px 10px;
	font-family: "OratorStd";
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#renelems_contact label {
	background-color: #dcb84c;
}

label.arrow_box {
	position: relative;
	background: #dcb84c;
	border: 2px solid #353230;
}
label.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

label.arrow_box:after {
	border-color: rgba(220, 184, 76, 0);
	border-left-color: #dcb84c;
	border-width: 10px;
	margin-top: -10px;
}
label.arrow_box:before {
	border-color: rgba(53, 50, 48, 0);
	border-left-color: #353230;
	border-width: 13px;
	margin-top: -13px;
}

/* SIDEBAR */
#contact-sidebar {
	background-color: #DCB84C;
	padding-top: 20px;
	padding-bottom: 20px;
}

#contact-sidebar p {
	color: #353230;
}


/* FOOTER */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#footer {
	height: 60px;
	background-color: #FFFFFF;
	position: relative;
	margin-top: -60px; /* negative value of footer height */
	clear:both;
	color: #353230;
	font-size: 14px;
}

#footer a {
	color: #353230;
}

#footer .container {
	padding-top: 20px;
}

#footer .contact-me {
	font-size: 12px;
}

#footer-menu {
	
}

#footer-menu li {
	float: left;
	list-style-type: none;
}

#footer-menu li:before {
	content: "|\00a0";
	color: #353230;
}

#footer-menu li:first-child:before {
	content: "";
}

#footer-menu li a {
	
	margin-right: 10px;
	margin-left: 5px;
}

#footer-menu li a.active {
	font-weight: bold;	
}

#footer-menu li a.service.active,
#footer-menu li a.service:hover {
	color: #2e8236;
}
#footer-menu li a.project.active,
#footer-menu li a.project:hover {
	color: #2c89a4;
}
#footer-menu li a.contact.active,
#footer-menu li a.contact:hover {
	color: #dcb84c;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

