{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash_notice">
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="flash_error">
        {{ flashMessage }}
    </div>
{% endfor %}